body{
    margin: 0;
    padding: 0;
    background: url(https://media.vandal.net/i/640x360/5-2018/2018517112220_1.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
};